[tool.black]
line-length = 88

[tool.isort]
profile = "black"
line_length = 88
known_first_party = ["config", "model"]
known_third_party = ["gradio", "qwen_tts", "soundfile", "torch", "torchvision", "torchaudio", "dotenv"]

[tool.flake8]
max-line-length = 88
extend-ignore = ["E203", "W503"]
